In [1]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

2.7.13 |Anaconda 4.3.0 (64-bit)| (default, Dec 19 2016, 13:29:36) [MSC v.1500 64 bit (AMD64)]
1.11.3
0.19.2

In [7]:
from os import chdir,getcwd

In [8]:
chdir('C:\Users\Mo.Pei\Desktop\data2\Python_Prac\data_analysis_with_python_and_pandas-master\data')

In [9]:
getcwd()

'C:\\Users\\Mo.Pei\\Desktop\\data2\\Python_Prac\\data_analysis_with_python_and_pandas-master\\data'

In [11]:
pd.read_csv("june_airplane_data.csv").head()

,1994,6,5,7,1542,1540,1819,1815,US,236,...,NA.2,NA.3,0,NA.4,0.1,NA.5,NA.6,NA.7,NA.8,NA.9
0,1994,6,6,1,1549.0,1540,1831.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994,6,7,2,1540.0,1540,1803.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994,6,8,3,1541.0,1540,1808.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994,6,9,4,1541.0,1540,1835.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994,6,10,5,1548.0,1540,1821.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [15]:
pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1]

       0                  1                                                  2
0    NaN               Name                                        Description
1    1.0               Year                                          1987-2008
2    2.0              Month                                               1-12
3    3.0         DayofMonth                                               1-31
4    4.0          DayOfWeek                            1 (Monday) - 7 (Sunday)
5    5.0            DepTime                actual departure time (local, hhmm)
6    6.0         CRSDepTime             scheduled departure time (local, hhmm)
7    7.0            ArrTime                  actual arrival time (local, hhmm)
8    8.0         CRSArrTime               scheduled arrival time (local, hhmm)
9    9.0      UniqueCarrier                                unique carrier code
10  10.0          FlightNum                                      flight number
11  11.0            TailNum                                  plane tail number
12  12.0  ActualElapsedTime                                         in minutes
13  13.0     CRSElapsedTime                                         in minutes
14  14.0            AirTime                                         in minutes
15  15.0           ArrDelay                          arrival delay, in minutes
16  16.0           DepDelay                        departure delay, in minutes
17  17.0             Origin                           origin IATA airport code
18  18.0               Dest                      destination IATA airport code
19  19.0           Distance                                           in miles
20  20.0             TaxiIn                           taxi in time, in minutes
21  21.0            TaxiOut                           taxi out time in minutes
22  22.0          Cancelled                          was the flight cancelled?
23  23.0   CancellationCode  reason for cancellation (A = carrier, B = weat...
24  24.0           Diverted                                    1 = yes, 0 = no
25  25.0       CarrierDelay                                         in minutes
26  26.0       WeatherDelay                                         in minutes
27  27.0           NASDelay                                         in minutes
28  28.0      SecurityDelay                                         in minutes
29  29.0  LateAircraftDelay                                         in minutes

In [16]:
pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1]

0                  Name
1                  Year
2                 Month
3            DayofMonth
4             DayOfWeek
5               DepTime
6            CRSDepTime
7               ArrTime
8            CRSArrTime
9         UniqueCarrier
10            FlightNum
11              TailNum
12    ActualElapsedTime
13       CRSElapsedTime
14              AirTime
15             ArrDelay
16             DepDelay
17               Origin
18                 Dest
19             Distance
20               TaxiIn
21              TaxiOut
22            Cancelled
23     CancellationCode
24             Diverted
25         CarrierDelay
26         WeatherDelay
27             NASDelay
28        SecurityDelay
29    LateAircraftDelay
Name: 1, dtype: object

In [17]:
df = pd.read_csv('june_airplane_data.csv', names=pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1])

In [18]:
df.head()

,Name,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1994,6,5,7,1542.0,1540,1819.0,1815,US,236,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1994,6,6,1,1549.0,1540,1831.0,1815,US,236,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1994,6,7,2,1540.0,1540,1803.0,1815,US,236,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1994,6,8,3,1541.0,1540,1808.0,1815,US,236,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,6,9,4,1541.0,1540,1835.0,1815,US,236,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:

df = pd.read_csv('../data/june_airplane_data.csv', names=pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1][1:])

In [20]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1994,6,5,7,1542.0,1540,1819.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994,6,6,1,1549.0,1540,1831.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994,6,7,2,1540.0,1540,1803.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994,6,8,3,1541.0,1540,1808.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994,6,9,4,1541.0,1540,1835.0,1815,US,236,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [21]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,426490.0,426490.0,426490.000000,426490.000000,423805.000000,426490.000000,422641.000000,426490.000000,426490.000000,0.0,...,0.0,0.0,426490.000000,0.0,426490.000000,0.0,0.0,0.0,0.0,0.0
mean,1994.0,6.0,15.520458,3.923185,1343.071375,1337.525309,1489.413914,1493.821825,901.690736,NaN,...,NaN,NaN,0.006296,NaN,0.002729,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,8.670839,1.930781,474.274010,465.902464,489.868444,474.554100,593.512783,NaN,...,NaN,NaN,0.079095,NaN,0.052171,NaN,NaN,NaN,NaN,NaN
min,1994.0,6.0,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,1994.0,6.0,8.000000,2.000000,930.000000,930.000000,1114.000000,1117.000000,407.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
50%,1994.0,6.0,16.000000,4.000000,1330.000000,1328.000000,1517.000000,1520.000000,792.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
75%,1994.0,6.0,23.000000,6.000000,1731.000000,1722.000000,1913.000000,1910.000000,1429.000000,NaN,...,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
max,1994.0,6.0,30.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,3219.000000,NaN,...,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN

In [22]:
df = pd.read_csv('../data/june_airplane_data.csv', parse_dates={'Date':['Year','Month','DayofMonth']}, names=pd.read_html("http://stat-computing.org/dataexpo/2009/the-data.html")[1][1][1:])

In [23]:
df.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1994-06-05,7,1542.0,1540,1819.0,1815,US,236,NaN,157.0,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1994-06-06,1,1549.0,1540,1831.0,1815,US,236,NaN,162.0,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1994-06-07,2,1540.0,1540,1803.0,1815,US,236,NaN,143.0,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1994-06-08,3,1541.0,1540,1808.0,1815,US,236,NaN,147.0,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1994-06-09,4,1541.0,1540,1835.0,1815,US,236,NaN,174.0,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [24]:
ranges = [0,600,1200,1800,2400]
labels = ['Early Morning','Morning','Early Afternoon','Evening']

In [25]:
df['DepTime2'] = pd.cut(df.DepTime, ranges, labels=labels).astype('category')

In [26]:
df['ArrTime2'] = pd.cut(df.ArrTime, ranges, labels=labels).astype('category')

In [27]:
df.ArrTime2

0                 Evening
1                 Evening
2                 Evening
3                 Evening
4                 Evening
5                 Evening
6                 Evening
7                 Evening
8                 Evening
9                 Evening
10                Evening
11                Evening
12                Evening
13                Evening
14                    NaN
15                Evening
16                Evening
17                Evening
18                Evening
19                Evening
20                Evening
21                Evening
22                Evening
23                Evening
24                Evening
25                Evening
26                Evening
27                Evening
28                Evening
29                Evening
               ...
426460            Evening
426461            Evening
426462            Evening
426463            Evening
426464            Evening
426465                NaN
426466            Evening
426467            Evening
426468            Evening
426469            Evening
426470            Evening
426471            Evening
426472            Evening
426473            Evening
426474            Evening
426475    Early Afternoon
426476    Early Afternoon
426477    Early Afternoon
426478    Early Afternoon
426479    Early Afternoon
426480    Early Afternoon
426481    Early Afternoon
426482    Early Afternoon
426483    Early Afternoon
426484    Early Afternoon
426485    Early Afternoon
426486    Early Afternoon
426487    Early Afternoon
426488    Early Afternoon
426489    Early Afternoon
Name: ArrTime2, dtype: category
Categories (4, object): [Early Morning < Morning < Early Afternoon < Evening]

In [28]:
df[['DepTime2','ArrTime2']].describe()

       DepTime2         ArrTime2
count    423805           422641
unique        4                4
top     Morning  Early Afternoon
freq     163514           156806

In [29]:
df.groupby(['DepTime2', 'ArrTime2'])[['DepDelay','ArrDelay']].mean()

                                  DepDelay   ArrDelay
DepTime2        ArrTime2
Early Morning   Early Morning    43.804627  42.069923
                Morning           2.578566   2.109582
                Early Afternoon        NaN        NaN
                Evening          64.000000  61.333333
Morning         Early Morning          NaN        NaN
                Morning           2.367489   0.664017
                Early Afternoon   3.769618   4.102513
                Evening           5.411565  12.923469
Early Afternoon Early Morning     8.890995  14.450237
                Morning           4.896104   2.480519
                Early Afternoon   5.166529   4.571237
                Evening           7.632955  11.082200
Evening         Early Morning    36.956347  42.037799
                Morning           5.464702   7.629198
                Early Afternoon  29.142857  22.500000
                Evening          13.668750  12.756813

In [30]:
sum((df.DepTime < 600) & (df.ArrTime > 1200) & (df.ArrTime < 1800))

0

In [31]:
df.groupby(['DepTime2', 'ArrTime2']).agg({'ArrDelay':[np.mean, np.std], 'DepDelay':[np.mean, np.std]})

                                  DepDelay              ArrDelay
                                      mean        std       mean        std
DepTime2        ArrTime2
Early Morning   Early Morning    43.804627  91.836738  42.069923  91.241073
                Morning           2.578566  16.595306   2.109582  18.436171
                Evening          64.000000   8.888194  61.333333   5.507571
Morning         Morning           2.367489  10.216042   0.664017  13.453101
                Early Afternoon   3.769618  12.482494   4.102513  17.172703
                Evening           5.411565  15.704599  12.923469  24.192638
Early Afternoon Early Morning     8.890995  27.347542  14.450237  42.653210
                Morning           4.896104   8.718680   2.480519  11.084140
                Early Afternoon   5.166529  14.861790   4.571237  18.710938
                Evening           7.632955  19.324282  11.082200  28.073863
Evening         Early Morning    36.956347  65.635363  42.037799  74.136225
                Morning           5.464702  12.298888   7.629198  17.129908
                Early Afternoon  29.142857  32.229602  22.500000  30.933552
                Evening          13.668750  39.551075  12.756813  34.126398